footer {
	background-color: #444B54;
    color:#ddd;
    min-height:200px;
    padding-top:20px;
    padding-bottom:40px;
}

footer .nav>li>a {
    padding:3px;
    color:#ccc;
}

footer .nav>li>a:hover {
    background-color:transparent;
	color:#fff;
}
.footer_logo{
  width     :200px;
  height: auto;
}
.hr_footer{
  margin-top: 11px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
.banner{
	background-color: #E7E7E7;
	border-top: 10px solid #67aaec;
	padding-top: 10px;
}